.text {
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.text-box {
  border-radius: 5px;
  border-width: 0;
  font-size: 13pt;
  height: 25px;
  width: 200px;
  box-shadow: rgba(27, 29, 63, 0.08) 0px 8px 8px 0;
}

.submit-button {
  border-radius: 5px;
  border-width: 0;
  font-size: 13pt;
  height: 25px;
  width: 75px;
  box-shadow: rgba(27, 29, 63, 0.06) 0px 8px 8px 0;
  background-color: #a83c09;
  color: rgb(248, 238, 224);
}
